// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h5  {
  margin-bottom: 3px;
  a {
    color: black;
  }
}

.btn_new_idea {
  margin-left: -10px;
}

.idea_title {
  font-size: 24px;
  font-family: Helvetica;
}

.idea_body {
  font-size: 20px;
}

.author_div_index {
  padding-left: 0px;
  padding-top: 10px;
}

.author {
  color: #4c74aa;
  text-decoration: underline;
}

.idea-title {
  padding-left: 2px;
}

.slide_div {
  display: none;
}

.flag-button {
  margin-right: 10px;
}

.fa-flag {
  margin-left: 20px;
}

.joined {
  margin-right: 10px;
}
